html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ddfcfd44 !important;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.appointments {
  background: #fff;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid #21212118;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.appointments .action {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 0.9rem;
  }
}
